body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.new-post-btn {
  float: right;
  margin-top: 15px;
}
.sort-select {
  margin-top: 15px;
}
.post-controls {
  margin: 16px 0 0 0;
  float: right;
}
.comment-controls {
  float: right;
}
.vote-controls {
  margin: 0 0 10px 0;
}